<md-sidenav-container class="app">

  <!--Sidebar-->
  <md-sidenav #sidenav class="side-navigation" opened="false">
    <app-side-navigation></app-side-navigation>
  </md-sidenav><!--// Sidebar-->

  <!--App content-->
  <section class="app-content">
    
    <!--App Header-->
    <app-header></app-header><!--// App Header-->

    <!--Add new post form-->
    <div class="add-new-post-form">

      <div class="container">
        <div class="col col-sm-5">
          <!--Title-->
          <label>
            Post Title
            <input class="form-control" #newtitle name="title" placeholder="Eg. Hello world!" value="">
          </label><!--// Title-->
        </div><!--./col-->
        
        <div class="col col-sm-5">
          <!--Link-->
          <label>
            Post Link
            <input class="form-control" #newlink name="link" placeholder="https://" value="">
          </label><!--// Link-->
        </div><!--./col-->

        <div class="col col-sm-2">
          <!--Submit Button-->
          <button md-button class="add-post-btn" (click)="addArticle(newtitle, newlink)">Add post</button><!--// Submit Button-->
        </div><!--./col-->

      </div><!--./container-->
      
    </div><!--// Add new post form-->

    <!--<button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>-->

    <!--Articles-->
    <div class="articles">
      <div class="container">
        <ul class="list-group">
        <app-article
          *ngFor="let article of articles"
          [article]="article">
        </app-article>
        </ul>
      </div>
    </div><!--// Articles-->

    <!--Copyrights-->
    <div class="copyrights">
      <div class="container">
        <p>&copy; 2017 - Angular Reddit by <a href="https://twitter.com/skyyalone" target="_blank">Kasun Harshana</a> [Disclaimer : This is just a test project]</p>
      </div>
    </div><!--// Copyrights-->

  </section><!--// App content-->

</md-sidenav-container>